<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		var yay;
		var datas;
		$(document).ready(function () {
			$.get("/tweets", function (data, status) {
				yay = data;
				var string = "" + yay;
				datas = JSON.parse(string);
				getTweets();
			});
			$("#form").submit(function(event){
				event.preventDefault();
				var str = $("#message").val();
				var res = str.split(" ");
				var fixed = "";
				for(var st = 0; st < res.length; st++)
					fixed += "_" + res[st];
				//alert(fixed);
				$.get("/sentiment/" + fixed, function (data, status) {
					alert(data * 1000 + " Points Earned!");
				});	
				var link = datas.urls[index]+"";
				var number = link.substring(link.lastIndexOf("/")+1);
				window.open("https://twitter.com/intent/tweet?in_reply_to="+number+"&text="+str,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
			});
		});
		
	</script>
	<script src="{{url_for('static',filename='js/home.js')}}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}" media="screen,projection"
	/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>hello</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
</head>
<!-- <div id="header" class=""><h4 class="center-align"></h4></div> -->
<body>
	<div class="video-container">
		<video frameborder=0 autoplay muted loop>
			<source src="{{url_for('static',filename='media/video.mp4')}}" type="video/mp4">
		</video>
	</div>
	<div id="total" class="row">
		<div class="col s12 m6">
			<div id="buttonContainer" class="card grey darken-4">
				<div class="card-content white-text">
					<img style="opacity:1; display:block; margin-left:auto; margin-right:auto;" width="60%" src="{{url_for('static',filename='media/statefarm.png')}}">
					<p style="opacity:0">.</p>
					<p style="opacity:0">.</p>
					<p style="opacity:0">.</p>
					<div class="card-action center-align">
						<a onclick="hello()" class="waves-effect red darken-3 btn" style="opacity:2" href="#">Press me to begin!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div id="wrapper"></div>
	<div class="row" id="tweetCard">
		<div class="card z-depth-0 transparent col s16 m16">
			<div id="tweet"></div>
			<a onclick="left()" class="waves-effect waves-light red darken-3 btn">
				<i class="material-icons left">chevron_left</i>Previous</a>
			<a class="waves-effect waves-light transparent z-depth-0 btn">
				<i class="material-icons right">chevron_right</i>Right</a>
			<a class="waves-effect waves-light transparent z-depth-0 btn">
				<i class="material-icons right"></i>Righadadsid</a>
			<a onclick="right()" class="waves-effect waves-light red darken-3 btn">
				<i class="material-icons right">chevron_right</i>Next</a>
		</div>
	</div>
	<div class=row>
			<div class="col s12 m6 center-align" id="InputField">
					<form id="form">
						<input id="message" type="text" placeholder="Your Response"><br>
						<button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Submit<input type="submit" value="">
								<i class="material-icons right">send</i>
							</button>
					</form>
			</div>
	</div>
</body>
</html>
